@using NUCA.Projects.Application.Statements.Models;
@using System.Globalization;
@using NUCA.Projects.Domain.Entities.Statements;
@using NUCA.Projects.Shared.Util;

@model Statement
@{
    var worksTables = Model.WorksTables.Where(t => t.HasQuantities);
    var suppliesTables = Model.SuppliesTables.Where(t => t.HasQuantities || Model.ExternalSuppliesItems.Any(i => i.StatementTableId == t.Id));
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            .bg-grey {
                background: #f5f5f5;
            }

            .text-center {
                text-align: center;
            }

            .py {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 0.2px solid #555;
            }

            th, td {
                padding: 0px 5px;
            }

            table {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div dir="ltr">@Html.Raw("{{{pdfCreatePagesGroup \"الأعمال\"}}}")</div>
        <div dir="rtl">
            <div>
                @foreach (var table in worksTables)
                {
                    <table cellspacing="0">
                        <tr class="bg-grey">
                            <td colspan="12" class="py">
                                @table.Name.UseArabicDigits()
                            </td>
                        </tr>
                        @await Html.PartialAsync("TableHeader")
                        @await Html.PartialAsync("StatementTable", new PrintTableModel() {Table = table, ExternalSuppliesItems = new List<ExternalSuppliesItem>() {}})
                        @if (table == worksTables.Last())
                        {
                            <tr class="bg-grey">
                                <td colspan="11" class="py">
                                    إجمالي الأعمال
                                </td>
                                <td class="text-center">
                                    @Model.TotalWorksBeforePriceChange.Round().UseArabicDigits()
                                </td>
                            </tr>
                            @if (Model.PriceChangePercent != 0)
                            {
                                <tr class="bg-grey">
                                    <td colspan="11" class="py">
                                        إجمالي الأعمال بعد
                                        <span>@(Model.PriceChangePercent > 0 ? "علاوة" : "خصم")</span>
                                        <span>@Math.Abs(Model.PriceChangePercent).Round().UseArabicDigits()</span>
                                        %
                                    </td>
                                    <td class="text-center">
                                        @Model.TotalWorks.Round().UseArabicDigits()
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <div style='page-break-before:always;' />
                }
            </div>
        </div>
        <div dir="ltr">@Html.Raw("{{{pdfCreatePagesGroup \"التشوينات\"}}}")</div>
        <div dir="rtl">
            <div>
                @foreach (var table in suppliesTables)
                {
                    <table cellspacing="0">
                        <tr class="bg-grey">
                            <td colspan="12" class="py">
                                @table.Name.UseArabicDigits()
                            </td>
                        </tr>
                        @await Html.PartialAsync("TableHeader")
                        @await Html.PartialAsync("StatementTable", new PrintTableModel() {Table = table, ExternalSuppliesItems = Model.ExternalSuppliesItems.Where(t => t.StatementTableId == table.Id).ToList()})
                        @if (table == suppliesTables.Last())
                        {
                            <tr class="bg-grey">
                                <td colspan="11" class="py">
                                    إجمالي التشوينات
                                </td>
                                <td class="text-center">
                                    @Model.TotalSupplies.Round().UseArabicDigits()
                                </td>
                            </tr>
                            <tr class="bg-grey">
                                <td colspan="11" class="py">
                                    إجمالي المستخلص
                                </td>
                                <td class="text-center">
                                    @Model.TotalWorksAndSupplies.Round().UseArabicDigits()
                                </td>
                            </tr>
                        }
                    </table>
                    @if (table != suppliesTables.Last())
                    {
                        <div style='page-break-before:always;' />
                    }
                }
            </div>
        </div>
    </body>
    </html>
}
