@using NUCA.Projects.Application.Statements.Models;
@using System.Globalization;
@using NUCA.Projects.Domain.Entities.Statements;
@using NUCA.Projects.Shared.Util;

@model StatementTable
@{
    <tr>
        <td colspan="12" class="py">
            @Model.Name.UseArabicDigits()
        </td>
    </tr>
    @await Html.PartialAsync("TableHeader")
    @foreach (var statementSection in Model.Sections)
    {
        @if (!statementSection.Name.Equals(Model.Name) || Model.Sections.First() != statementSection)
        {
            <tr>
                <td colspan="12" class="py">
                    @statementSection.Name.UseArabicDigits()
                </td>
            </tr>
        }
        @await Html.PartialAsync("StatementSection", statementSection)
    }
    <tr>
        <td colspan="11" class="py">
           إجمالي @Model.Name.UseArabicDigits()
        </td>
        <td class="text-center">
            @Model.TotalBeforePriceChange.Round().UseArabicDigits()
        </td>
    </tr>
    @if(Model.PriceChangePercent != 0 && Model.Type == StatementTableType.Works) // Or Supplies ?
    {
        <tr>
            <td colspan="11" class="py">
                إجمالي @Model.Name.UseArabicDigits() بعد 
                <span>@(Model.PriceChangePercent > 0 ? "علاوة" : "خصم")</span>
                <span>@Math.Abs(Model.PriceChangePercent).Round().UseArabicDigits()</span>
                %
            </td>
            <td class="text-center">
                @Model.Total.Round().UseArabicDigits()
            </td>
        </tr>
    }
}
